{{ if .Experience }}
<div id="experience" class="section">
    {{ partial "_gantt.html" . }}
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "experience" }}</h2>
    </div>
    <div class="section__content">
        <div class="experience">
            {{ range .Experience }}
            <div class="experience__item">
                <div class="experience__header">
                    <h3 class="experience__company">
                        <i class='{{ default "far fa-building" .Icon }}' aria-hidden="true"></i>
                        {{ .Employer | safeHTML }}
                    </h3>
                    {{if .Place }}
                    <h3 class="experience__place">
                        <span class="experience__duration">
                            5y 6m
                        </span>
                        <span class="experience__place__name">
                            {{ .Place | safeHTML }}
                        </span>
                    </h3>
                    {{ end }}
                </div>
                {{ range .Positions }}
                <div class="experience__job">
                    {{ if or .Title .Date.Start .Date.End }}
                    <div class="experience__subheader">
                        {{ if .Title }} 
                        <h3 class="experience__position">
                            {{ .Title | safeHTML}}
                        </h3>
                        {{end}}
                        {{ if .Date }}
                        <h3 class="experience__date">
                            <span class="experience__date__duration"></span>
                            <span class="experience__date__start">{{ .Date.Start | safeHTML }}</span> -
                            <span class="experience__date__end">{{ .Date.End | safeHTML }}</span>
                        </h3>
                        {{ end }}
                    </div>
                    {{ end }}
                    <ul>
                        {{ range .Details }}
                        <li class="experience__bullet">{{ . }}</li>
                        {{ end }}
                    </ul>
                    {{if .Badges }}
                    <div class="experience__badges">
                        <ul>
                            {{ range .Badges }}
                            <li class="experience__badge">{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}